.barra-navegacion li{
    list-style-type: none;
    list-style: none;

}

.barra-navegacion ul{
    display: flex;
    justify-content: space-between;

}

.barra-navegacion li {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
}